<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
        color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h3>H3 text</h3>
    <h4>H4 text</h4>
    <h5>H5 text</h5>
    <h6 class="h2-text">H6 text</h6>
    <p><span style="color: green" > TEXT</span></p>
    <a href="https://www.youtube.com/" target="_blank">Youtube</a>

    <img alt="browser.png" src="https://img.freepik.com/free-photo/autumn-landscape-forestry-road_23-2151843655.jpg" style="width: 100px">

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="qaqaqaq">
        <input required type="email"  placeholder="Email">
        <input type="password"  placeholder="password">
        <textarea required  placeholder="text"> 12131</textarea>
        <button type="submit" disabled> Text </button>
    </form>
    <table>
        <thead>
        <tr>

   <td>Item 1</td>
    <td>Item 2</td>
             <td>Item 3</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>